<a href="https://colab.research.google.com/github/dresvyankina/dz/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Part_1_Intro_to_SQL_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# План занятия
 - Локальные БД. Работа с библиотекой sqlite3
 - Представление БД с использованием Pandas
 - Удаленные БД. Работа с библиотекой SQLAlchemy

# Введение

База данных может храниться локально, на том же компьютере, на котором запускается прикладное программное обеспечение для работы с базой данных или на удаленном компьютере.

Google Colab (точнее Python, запускаемый в среде Google Colab) позволяет работать и с условно «локальной» базой данных и с базой данных на удаленном сервере. 
- В первом случае может использоваться СУБД **SQLite**, которая будет хранится на облачном диске Google Drive. Для среды Google Colab это будет локальная БД.
- В случае работы с удаленной БД можно использовать **SQLAlchemy**.

Оба модуля **SQLite** и **SQLAlchemy** рассмотрим ниже.

# SQLite

**SQLite** — компактная встраиваемая реляционная база данных. Является чисто реляционной базой данных.

Слово «встраиваемый» означает, что SQLite **не использует парадигму клиент-сервер.** Модуль sqlite3 входит в установочный пакет языка Python, является компонентом стандартной библиотеки и не требует отдельной загрузки и установки.

Pipeline для работы с БД при помощи библиотеки SQLite

``` 
import sqlite3

conn = sqlite3.connect(path)

cursor = conn.cursor()

# Работа с БД
# ...
# ...

cursor.close()
conn.close()
```

## Подключение к базе данных

Для доступа к диску Google Drive сервису Google Colab необходимо дать разрешение на подключение к диску.

Для подключения и разрешения доступа Google Colab к диску Google Drive используем следующий код:

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Подключаем модуль для работы с базой SQLite

In [2]:
import sqlite3

Непосредственно модуль sqlite3 – это API к СУБД SQLite. Своего рода адаптер, который переводит команды, написанные на Питоне, в команды, которые понимает SQLite. Как и наоборот, доставляет ответы от SQLite в python-программу.

In [3]:
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

Создадим папку "my_databases", где будут хранится наши БД

In [4]:
import os
path = "./drive/My Drive/my_databases"
if not os.path.exists(path):
    os.mkdir(path)

In [5]:
os.path.exists(path)

True

Подключаемся к базе test.db. Если этого файла нет в каталоге, то он будет создан.

Вызов функции connect() приводит к созданию объекта-экземпляра от класса Connection. Этот объект обеспечивает связь с файлом базы данных, представляет конкретную БД в программе:

In [6]:
conn = sqlite3.connect(path + '/test.db')
print("Opened database successfully");

Opened database successfully

После того как экземпляр Connection создан, чтобы выполнять SQL-команды, надо создать еще один объект, но теперь уже от класса Cursor. Делается это с помощью метода cursor() объекта типа Connection:

In [7]:
cursor = conn.cursor()

In [8]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')

conn.commit()

print("Table created successfully");

#conn.close()

Table created successfully

Заполнять таблицы можно тоже с помощью **execute().**

In [19]:
# INSERTING VALUES

cursor.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2019, 53);")
cursor.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2019, 47);")

Однако, если требуется вставить несколько записей, лучше воспользоваться методом **executemany():**

In [20]:
sections = [('Arsenal', 'UK', 2019, 52), ('Real Madrid', 'Spain', 2018, 49),
             ('Barcelona', 'Spain', 2018, 45), ('Arsenal', 'UK', 2018, 50 )]
cursor.executemany("INSERT INTO team_data VALUES (?, ?, ?, ?)", sections)

Для того, чтобы корректно завершить работу с базой данных, надо применить изменения (выполнить транзакцию) **commit()** и разорвать соединение **close()**. Обратите внимание, это делается по отношению к экземпляру Connection, а не Cursor:

In [21]:
conn.commit()
conn.close()

In [20]:
# Average goal by team

conn = sqlite3.connect(path + '/test.db')
# Создаем объект типа cursor для доступа к данным
cursor = conn.cursor()

#Запрос данных из таблицы 
sql  = '''SELECT team, total_goals FROM team_data'''

cursor.execute(sql)

for row in cursor:
    print(row)

('Real Madrid', 53)
('Barcelona', 47)
('Arsenal', 52)
('Real Madrid', 49)
('Barcelona', 45)
('Arsenal', 50)
('Real Madrid', 53)
('Barcelona', 47)
('Arsenal', 52)
('Real Madrid', 49)
('Barcelona', 45)
('Arsenal', 50)

In [13]:
#Запрос данных из таблицы 
sql  = ''' SELECT team, AVG(total_goals) FROM team_data'''

cursor.execute(sql)

for row in cursor:
    print(row)

('Arsenal', 49.333333333333336)

Почему на выходе получили только 1 комманду?

In [14]:
sql  = ''' SELECT team, AVG(total_goals) AS avg_goals FROM team_data GROUP BY team;'''
cursor.execute(sql)

for row in cursor:
  print(row)

('Arsenal', 51.0)
('Barcelona', 46.0)
('Real Madrid', 51.0)

In [15]:
cursor.close()
conn.close()

In [16]:
# First try to filter the teams with average goals higher than 50
# This query will generate an error

conn = sqlite3.connect(path + '/test.db')
cursor = conn.cursor()

sql = ''' SELECT team AS team_name,
                            AVG(total_goals) AS avg_goals
                          FROM team_data
                          GROUP BY team 
                          HAVING AVG(total_goals) > 50;'''
                          
cursor.execute(sql)

for row in cursor:
  print(row)
conn.close()

('Arsenal', 51.0)
('Real Madrid', 51.0)

In [18]:
# Now, the correct query, using the appropriate sub-query

conn = sqlite3.connect(path + '/test.db')

cursor = conn.cursor()

sql = ''' SELECT team_name, avg_goals
                          FROM (

                          -- Here we make our sub-query:
                            SELECT team AS team_name,
                            AVG(total_goals) AS avg_goals
                            FROM team_data
                            GROUP BY team) tp
                          -- End of the sub-query
                          
                          WHERE avg_goals > 50;'''

cursor.execute(sql)

for row in cursor:
  print(row)
conn.close()

('Arsenal', 51.0)
('Real Madrid', 51.0)

Для наглядного представления табличных данных можно использовать библиотеку pandas:

In [24]:
import pandas as pd


conn = sqlite3.connect(path + '/test.db')
cursor = conn.cursor()

#sql  = '''SELECT team, total_goals AS avg_goals FROM team_data GROUP BY team;'''
sql  = '''SELECT team, total_goals FROM team_data;'''
                          
cursor.execute(sql)

# Загружаем все результаты в список списков rows 
rows = cursor.fetchall()

In [20]:
rows

[('Real Madrid', 53),
 ('Barcelona', 47),
 ('Arsenal', 52),
 ('Real Madrid', 49),
 ('Barcelona', 45),
 ('Arsenal', 50)]

In [21]:
pd.DataFrame(rows, columns=('Team', 'Goals') )

          Team  Goals
0  Real Madrid     53
1    Barcelona     47
2      Arsenal     52
3  Real Madrid     49
4    Barcelona     45
5      Arsenal     50

In [22]:
sql  = '''SELECT team, total_goals AS avg_goals FROM team_data GROUP BY team;'''
                          
cursor.execute(sql)

# Загружаем все результаты в список списков rows 
rows = cursor.fetchall()

pd.DataFrame(rows, columns=('Team', 'Goals'))

          Team  Goals
0      Arsenal     50
1    Barcelona     45
2  Real Madrid     49

In [23]:
cursor.close()
conn.close()

<center><img src='https://raw.githubusercontent.com/ddvika/Data-Science-School-2020/main/lecture_5/imgs/typical_sql.tiff' height = 550></center>

# SQLAlchemy

**ORM** расшифровывается как object-relational mapping,  или объектно-реляционное отображение — подход к работе с базами данных, использующий  концепции объектно-ориентированных языков программирования.   Объектно-реляционное отображение позволяет оперировать объектами в коде, что гораздо удобнее, чем работать с запросами и таблицами.


Иными словами, можно обращаться к объектам классов для управления данными в таблицах БД. Также можно создавать, изменять, удалять, фильтровать и, самое главное, наследовать объекты классов, сопоставленные с таблицами БД, что существенно сокращает наполнение кодовой базы.

**SQLAlchemy** — это библиотека на языке Python для работы с реляционными СУБД с применением технологии ORM. Служит для синхронизации объектов Python и записей реляционной базы данных. SQLAlchemy позволяет описывать структуры баз данных и способы взаимодействия с ними на языке Python без использования SQL.

### Создадим новую базу данных с нуля
Давайте создадим новую базу данных с нуля, для этого:
1. Создадим классы для определения схемы.
2. Сопоставим схему с базой данных.
3. Добавим объекты в базу данных
4. Напишем запросы

### 1. Запустим database session

In [1]:
from sqlalchemy import create_engine
#engine = create_engine('sqlite:///example.db', echo=True)
engine = create_engine('sqlite:///:memory:', echo=True)
#engine = create_engine('sqlite:///:memory:')
conn = engine.connect()

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

2020-12-15 18:38:17,669 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-15 18:38:17,670 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:17,673 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-15 18:38:17,674 INFO sqlalchemy.engine.base.Engine ()

В случае если мы хоти подкоючится к удаленной БД, код будет выглядить примерно так:

```
def connect_to_db(uid):
    # создаем объект подключения
    sql = create_engine(
        f'mysql+mysqlconnector://user{uid}:userpassword{uid}'   # LOGIN, PASSWORD
        f'@157.230.109.1/classicmodels_user_{uid}',             # HOST IP
        pool_recycle=60
    )
    connection = sql.connect()
    return connection
    # отправка комманд без чтения/записи (например удаление) в самом конце

connection = connect_to_db(uid=5)
connection
```

### 2. Вспомогательные функции для печати и вывода результатов SQL запросов

In [2]:
from IPython.display import display
import pandas as pd
import sqlalchemy

def sql(query):
    print()
    print(query)
    print()

def get_results(query):
    global engine
    q = query.statement if isinstance(query, sqlalchemy.orm.query.Query) else query
    return pd.read_sql(q, engine)

def display_results(query):
    df = get_results(query)
    display(df)
    
    #sql(query)

### 3. Инициализация схемы БД

Схема - это пространство имен, которое содержит именованные объекты базы данных, такие как таблицы, представления, индексы, типы данных

In [3]:
!pip install sqlalchemy_explore

Requirement already satisfied: sqlalchemy_explore in /usr/local/lib/python3.6/dist-packages (0.1.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from sqlalchemy_explore) (1.3.20)

In [4]:
from sqlalchemy.ext.declarative import declarative_base
import sqlalchemy_explore

### the basic base class for SQLAlchemy schema objects
# Base = declarative_base(bind=engine)

### base class including utils like an __repr__ method
### see https://pypi.org/project/sqlalchemy-explore/
Base = declarative_base(cls=sqlalchemy_explore.ReflectiveMixin)

### Создание самой схемы

In [5]:
from sqlalchemy import Column, DateTime, ForeignKey, Integer, NVARCHAR, Numeric, Sequence
from sqlalchemy.orm import relationship

class Customer(Base):
    __tablename__ = 'customers'
    

    CustomerId = Column(Integer, Sequence('customer_id_seq'), primary_key=True)
    FirstName = Column(NVARCHAR(40), nullable=False)
    LastName = Column(NVARCHAR(20), nullable=False)
    Company = Column(NVARCHAR(80))
    Address = Column(NVARCHAR(70))
    Phone = Column(NVARCHAR(24))
    Email = Column(NVARCHAR(60), nullable=False)
    
class Item(Base):
    __tablename__ = 'items'
    
    ItemId = Column(Integer, Sequence('item_id_seq'), primary_key=True)
    Name = Column(NVARCHAR(40), nullable=False)
    Price = Column(Numeric, nullable=False)

class Purchase(Base):
    __tablename__ = 'purchases'
    
    PurchaseId = Column(Integer, Sequence('purchase_id_seq'), primary_key=True)
    ItemId = Column(ForeignKey('items.ItemId'), nullable=False, index=True)
    CustomerId = Column(ForeignKey('customers.CustomerId'), nullable=False, index=True)
    Date = Column(DateTime, nullable=False)
    
    item = relationship('Item')
    customer = relationship('Customer')

In [6]:
Purchase.ItemId.name

'ItemId'

In [7]:
Purchase.CustomerId.name

'CustomerId'

### 5. Создадим таблицы в базе данных в соответствии со схемой

In [8]:
Base.metadata.create_all(engine)

2020-12-15 18:38:34,475 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("customers")
2020-12-15 18:38:34,477 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,481 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("customers")
2020-12-15 18:38:34,482 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,484 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("items")
2020-12-15 18:38:34,485 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,487 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("items")
2020-12-15 18:38:34,488 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,489 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("purchases")
2020-12-15 18:38:34,490 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,492 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("purchases")
2020-12-15 18:38:34,493 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,497 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"Phone" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	PRIMARY KEY ("CustomerId")
)


2020-12-15 18:38:34,498 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,501 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 18:38:34,504 INFO sqlalchemy.engine.base.Engine
CREATE TABLE items (
	"ItemId" INTEGER NOT NULL,
	"Name" NVARCHAR(40) NOT NULL,
	"Price" NUMERIC NOT NULL,
	PRIMARY KEY ("ItemId")
)


2020-12-15 18:38:34,506 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,508 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 18:38:34,510 INFO sqlalchemy.engine.base.Engine
CREATE TABLE purchases (
	"PurchaseId" INTEGER NOT NULL,
	"ItemId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"Date" DATETIME NOT NULL,
	PRIMARY KEY ("PurchaseId"),
	FOREIGN KEY("ItemId") REFERENCES items ("ItemId"),
	FOREIGN KEY("CustomerId") REFERENCES customers ("CustomerId")
)


2020-12-15 18:38:34,511 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,512 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 18:38:34,514 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_CustomerId" ON purchases ("CustomerId")
2020-12-15 18:38:34,516 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,517 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 18:38:34,518 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_ItemId" ON purchases ("ItemId")
2020-12-15 18:38:34,520 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:38:34,523 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
engine.table_names()

2020-12-15 18:38:35,931 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-12-15 18:38:35,932 INFO sqlalchemy.engine.base.Engine ()

['customers', 'items', 'purchases']

### 6. Создадим покупателя

In [10]:
moshe = Customer(
    FirstName='Moshe', 
    LastName='Cohen', 
    Address='Alenbi 99, Tel Aviv', 
    Phone="053-5556789", 
    Email='moshe@cohen.com')

session.add(moshe)
session.commit()

2020-12-15 18:38:38,108 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 18:38:38,114 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-15 18:38:38,117 INFO sqlalchemy.engine.base.Engine ('Moshe', 'Cohen', None, 'Alenbi 99, Tel Aviv', '053-5556789', 'moshe@cohen.com')
2020-12-15 18:38:38,119 INFO sqlalchemy.engine.base.Engine COMMIT

### 7. Выполним запрос

Используя язык выражений SQLAchemy

In [11]:
from sqlalchemy import select 

customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
results = conn.execute(customers_query)

print()
for row in results:
    print(row)

print()
print(type(row)) # rows are of type sqlalchemy.engine.result.RowProxy

2020-12-15 18:38:40,760 INFO sqlalchemy.engine.base.Engine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
2020-12-15 18:38:40,762 INFO sqlalchemy.engine.base.Engine ()

('Moshe', 'Cohen', 'moshe@cohen.com')

<class 'sqlalchemy.engine.result.RowProxy'>

In [12]:
display_results(customers_query)

2020-12-15 18:38:43,389 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
2020-12-15 18:38:43,390 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0     Moshe    Cohen  moshe@cohen.com

### 8. Добавим еще покупателей

In [13]:
Lisa = Customer(
    FirstName='Lisa',
    LastName='Cohen', 
    Address='Alenbi 99, Tel Aviv', 
    Phone="052-1234565", 
    Email='lisa@cohen.com')

session.add(Lisa)
session.commit()

2020-12-15 18:38:45,913 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 18:38:45,925 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-15 18:38:45,926 INFO sqlalchemy.engine.base.Engine ('Lisa', 'Cohen', None, 'Alenbi 99, Tel Aviv', '052-1234565', 'lisa@cohen.com')
2020-12-15 18:38:45,927 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
Nika = Customer(
    FirstName='Nika', 
    LastName='Rave', 
    Address='Green st, LA', 
    Phone="330-1234565", 
    Email='Nika@rave.com')

session.add(Nika
session.commit()

2020-12-15 18:38:47,311 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 18:38:47,314 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-15 18:38:47,316 INFO sqlalchemy.engine.base.Engine ('Nika', 'Rave', None, 'Green st, LA', '330-1234565', 'Nika@rave.com')
2020-12-15 18:38:47,318 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:

Lisa_2 = Customer(
    FirstName='Lisa',
    LastName='White', 
    Address='Alenbi 66, Tel Aviv', 
    Phone="062-1234565", 
    Email='lisa@White.com')

session.add(Lisa_2)
session.commit()

2020-12-15 18:38:52,984 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 18:38:52,986 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-15 18:38:52,987 INFO sqlalchemy.engine.base.Engine ('Lisa', 'White', None, 'Alenbi 66, Tel Aviv', '062-1234565', 'lisa@White.com')
2020-12-15 18:38:52,991 INFO sqlalchemy.engine.base.Engine COMMIT

Посмотрим теперь на таблицу:

In [16]:
customers_query = select([Customer.FirstName, Customer.Email])
display_results(customers_query)

2020-12-15 18:38:56,283 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."Email"
FROM customers
2020-12-15 18:38:56,285 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName            Email
0     Moshe  moshe@cohen.com
1      Lisa   lisa@cohen.com
2      Nika    Nika@rave.com
3      Lisa   lisa@White.com

In [17]:
Customer.__dict__

mappingproxy({'Address': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7faffba4f468>,
              'Company': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7faffba4f4c0>,
              'CustomerId': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7faffba4f620>,
              'Email': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7faffba4f150>,
              'FirstName': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7faffba4f200>,
              'LastName': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7faffba4f518>,
              'Phone': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7faffba4f410>,
              '__doc__': None,
              '__init__': <function __init__>,
              '__mapper__': <Mapper at 0x7faffba53ba8; Customer>,
              '__module__': '__main__',
              '__table__': Table('customers', MetaData(bind=None), Column('CustomerId', Integer(), table=<customers>, primary_key=True, nullable=False, default=Sequence('customer_id_seq', metadata=MetaData(bind=None))), Column('FirstName', NVARCHAR(length=40), table=<customers>, nullable=False), Column('LastName', NVARCHAR(length=20), table=<customers>, nullable=False), Column('Company', NVARCHAR(length=80), table=<customers>), Column('Address', NVARCHAR(length=70), table=<customers>), Column('Phone', NVARCHAR(length=24), table=<customers>), Column('Email', NVARCHAR(length=60), table=<customers>, nullable=False), schema=None),
              '__tablename__': 'customers',
              '_sa_class_manager': <ClassManager of <class '__main__.Customer'> at 7faffba4f0f8>})

In [18]:
list_info = session.query(Customer).all()

2020-12-15 18:39:01,615 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 18:39:01,617 INFO sqlalchemy.engine.base.Engine SELECT customers."CustomerId" AS "customers_CustomerId", customers."FirstName" AS "customers_FirstName", customers."LastName" AS "customers_LastName", customers."Company" AS "customers_Company", customers."Address" AS "customers_Address", customers."Phone" AS "customers_Phone", customers."Email" AS "customers_Email"
FROM customers
2020-12-15 18:39:01,618 INFO sqlalchemy.engine.base.Engine ()

In [19]:
list_info

[Customer(CustomerId=1, FirstName='Moshe', LastName='Cohen', Company=None, Address='Alenbi 99, Tel Aviv', Phone='053-5556789', Email='moshe@cohen.com'),
 Customer(CustomerId=2, FirstName='Lisa', LastName='Cohen', Company=None, Address='Alenbi 99, Tel Aviv', Phone='052-1234565', Email='lisa@cohen.com'),
 Customer(CustomerId=3, FirstName='Nika', LastName='Rave', Company=None, Address='Green st, LA', Phone='330-1234565', Email='Nika@rave.com'),
 Customer(CustomerId=4, FirstName='Lisa', LastName='White', Company=None, Address='Alenbi 66, Tel Aviv', Phone='062-1234565', Email='lisa@White.com')]

In [20]:
for id_ in list_info:
    print(id_.CustomerId)

1
2
3
4

In [21]:
first_info = session.query(Customer.CustomerId)

In [45]:
first_info

Операторы **desc**, **asc**, **order_by**

Оператор SQL ORDER BY выполняет сортировку выходных значений. Оператор SQL ORDER BY можно применять как к числовым столбцам, так и к строковым. В последнем случае, сортировка будет происходить по алфавиту.

`ORDER BY column_name [ASC | DESC]`

ASC - по возрастанию, DESC - по убыванию

In [22]:
from sqlalchemy import *

In [23]:
from sqlalchemy import desc, asc

customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email]).order_by(asc(Customer.FirstName), desc(Customer.LastName))
#customers_query = customers_query.order_by(asc(Customer.FirstName))

display_results(customers_query)

2020-12-15 18:39:20,150 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers ORDER BY customers."FirstName" ASC, customers."LastName" DESC
2020-12-15 18:39:20,153 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0      Lisa    White   lisa@White.com
1      Lisa    Cohen   lisa@cohen.com
2     Moshe    Cohen  moshe@cohen.com
3      Nika     Rave    Nika@rave.com

In [48]:
customers_query = customers_query.order_by(desc(Customer.FirstName))

display_results(customers_query)

2020-12-15 14:58:10,780 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers ORDER BY customers."FirstName" ASC, customers."LastName" DESC, customers."FirstName" DESC
2020-12-15 14:58:10,780 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0      Lisa    White   lisa@White.com
1      Lisa    Cohen   lisa@cohen.com
2     Moshe    Cohen  moshe@cohen.com
3      Nika     Rave    Nika@rave.com

**where**
Оператор SQL WHERE служит для задания дополнительного условия выборки, операций вставки, редактирования и удаления записей.

`where condition`

In [49]:
customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
customers_query = customers_query.where(Customer.FirstName == 'Lisa')

display_results(customers_query)

2020-12-15 14:58:16,147 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
WHERE customers."FirstName" = ?
2020-12-15 14:58:16,150 INFO sqlalchemy.engine.base.OptionEngine ('Lisa',)

  FirstName LastName           Email
0      Lisa    Cohen  lisa@cohen.com
1      Lisa    White  lisa@White.com

In [50]:
customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
customers_query = customers_query.where(Customer.FirstName == 'Lisa').order_by(asc(Customer.LastName))

In [24]:
display_results(customers_query)

2020-12-15 18:39:32,255 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers ORDER BY customers."FirstName" ASC, customers."LastName" DESC
2020-12-15 18:39:32,256 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0      Lisa    White   lisa@White.com
1      Lisa    Cohen   lisa@cohen.com
2     Moshe    Cohen  moshe@cohen.com
3      Nika     Rave    Nika@rave.com

Документация по операторам в SQLAchemy:

https://docs.sqlalchemy.org/en/13/core/sqlelement.html

## SQLAchemy + Pandas

In [25]:
import pandas as pd

In [26]:
#выведем название нашей таблицы
Item.__tablename__

'items'

In [27]:
df = pd.read_sql('SELECT * FROM customers', conn)
df.tail()

2020-12-15 18:39:40,263 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM customers")
2020-12-15 18:39:40,266 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:39:40,268 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM customers")
2020-12-15 18:39:40,271 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:39:40,272 INFO sqlalchemy.engine.base.Engine SELECT * FROM customers
2020-12-15 18:39:40,274 INFO sqlalchemy.engine.base.Engine ()

   CustomerId FirstName  ...        Phone            Email
0           1     Moshe  ...  053-5556789  moshe@cohen.com
1           2      Lisa  ...  052-1234565   lisa@cohen.com
2           3      Nika  ...  330-1234565    Nika@rave.com
3           4      Lisa  ...  062-1234565   lisa@White.com

[4 rows x 7 columns]

In [28]:
# Если хотим получить отсортированные значения - ключевая команда ORDER BY
sql = """
SELECT 
    *
FROM
    customers
ORDER BY 
    LastName ASC;
"""
df = pd.read_sql(sql, conn)

df.head()

2020-12-15 18:39:42,587 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("
SELECT
    *
FROM
    customers
ORDER BY
    LastName ASC;
")
2020-12-15 18:39:42,589 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:39:42,590 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("
SELECT
    *
FROM
    customers
ORDER BY
    LastName ASC;
")
2020-12-15 18:39:42,591 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:39:42,593 INFO sqlalchemy.engine.base.Engine
SELECT
    *
FROM
    customers
ORDER BY
    LastName ASC;

2020-12-15 18:39:42,594 INFO sqlalchemy.engine.base.Engine ()

   CustomerId FirstName  ...        Phone            Email
0           1     Moshe  ...  053-5556789  moshe@cohen.com
1           2      Lisa  ...  052-1234565   lisa@cohen.com
2           3      Nika  ...  330-1234565    Nika@rave.com
3           4      Lisa  ...  062-1234565   lisa@White.com

[4 rows x 7 columns]

In [29]:
# Если хотим получить уникальные значения - ключевая команда DISTINCT
df = pd.read_sql("""
SELECT 
    DISTINCT LastName
FROM
    customers
ORDER BY 
    LastName;
""", conn)

df.head()

2020-12-15 18:39:45,348 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("
SELECT
    DISTINCT LastName
FROM
    customers
ORDER BY
    LastName;
")
2020-12-15 18:39:45,349 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:39:45,356 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("
SELECT
    DISTINCT LastName
FROM
    customers
ORDER BY
    LastName;
")
2020-12-15 18:39:45,359 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 18:39:45,361 INFO sqlalchemy.engine.base.Engine
SELECT
    DISTINCT LastName
FROM
    customers
ORDER BY
    LastName;

2020-12-15 18:39:45,363 INFO sqlalchemy.engine.base.Engine ()

  LastName
0    Cohen
1     Rave
2    White

# ДЗ
 Дедлайн **15.12.2020, 23:59**
  
- Решить первые 20 задач с сайта https://www.sql-ex.ru (Раздел SELECT(обучающий этап)). Оценивается пропорционально кол-ву выполненных задач. + 20 % (еще 15 задач)

- Дополнить таблицу 'items' и 'purchases' 5ью экземплярами (каждую) на Ваш Выбор. Важно: они должны быть привязаны к существующим покупателям Lisa, Nika, Moshe.
- При помощи запроса SQLAlchemy вывести все покупки Lisa. Вывести тоже самое при помощи Pandas.

In [1]:
from sqlalchemy import create_engine
#engine = create_engine('sqlite:///example.db', echo=True)
engine = create_engine('sqlite:///:memory:', echo=True)
#engine = create_engine('sqlite:///:memory:')
conn = engine.connect()

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

2020-12-15 19:03:27,966 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-15 19:03:27,967 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:27,973 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-15 19:03:27,975 INFO sqlalchemy.engine.base.Engine ()

In [2]:
from IPython.display import display
import pandas as pd
import sqlalchemy

def sql(query):
    print()
    print(query)
    print()

def get_results(query):
    global engine
    q = query.statement if isinstance(query, sqlalchemy.orm.query.Query) else query
    return pd.read_sql(q, engine)

def display_results(query):
    df = get_results(query)
    display(df)
    #sql(query)

In [3]:

!pip install sqlalchemy_explore

Requirement already satisfied: sqlalchemy_explore in /usr/local/lib/python3.6/dist-packages (0.1.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from sqlalchemy_explore) (1.3.20)

In [4]:
from sqlalchemy.ext.declarative import declarative_base
import sqlalchemy_explore

### the basic base class for SQLAlchemy schema objects
# Base = declarative_base(bind=engine)

### base class including utils like an __repr__ method
### see https://pypi.org/project/sqlalchemy-explore/
Base = declarative_base(cls=sqlalchemy_explore.ReflectiveMixin)

In [5]:

from sqlalchemy import Column, DateTime, ForeignKey, Integer, NVARCHAR, Numeric, Sequence
from sqlalchemy.orm import relationship

class Customer(Base):
    __tablename__ = 'customers'

    CustomerId = Column(Integer, Sequence('customer_id_seq'), primary_key=True)
    FirstName = Column(NVARCHAR(40), nullable=False)
    LastName = Column(NVARCHAR(20), nullable=False)
    Company = Column(NVARCHAR(80))
    Address = Column(NVARCHAR(70))
    Phone = Column(NVARCHAR(24))
    Email = Column(NVARCHAR(60), nullable=False)
    
class Item(Base):
    __tablename__ = 'items'
    
    ItemId = Column(Integer, Sequence('item_id_seq'), primary_key=True)
    Name = Column(NVARCHAR(40), nullable=False)
    Price = Column(Numeric, nullable=False)

class Purchase(Base):
    __tablename__ = 'purchases'
    
    PurchaseId = Column(Integer, Sequence('purchase_id_seq'), primary_key=True)
    ItemId = Column(ForeignKey('items.ItemId'), nullable=False, index=True)
    CustomerId = Column(ForeignKey('customers.CustomerId'), nullable=False, index=True)
    Date = Column(DateTime, nullable=False)
    
    item = relationship('Item')
    customer = relationship('Customer')

In [6]:
Base.metadata.create_all(engine)

2020-12-15 19:03:34,473 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("customers")
2020-12-15 19:03:34,475 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,478 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("customers")
2020-12-15 19:03:34,479 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,481 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("items")
2020-12-15 19:03:34,482 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,484 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("items")
2020-12-15 19:03:34,486 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,489 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("purchases")
2020-12-15 19:03:34,491 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,493 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("purchases")
2020-12-15 19:03:34,495 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,498 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"Phone" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	PRIMARY KEY ("CustomerId")
)


2020-12-15 19:03:34,499 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,501 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 19:03:34,504 INFO sqlalchemy.engine.base.Engine
CREATE TABLE items (
	"ItemId" INTEGER NOT NULL,
	"Name" NVARCHAR(40) NOT NULL,
	"Price" NUMERIC NOT NULL,
	PRIMARY KEY ("ItemId")
)


2020-12-15 19:03:34,505 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,506 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 19:03:34,508 INFO sqlalchemy.engine.base.Engine
CREATE TABLE purchases (
	"PurchaseId" INTEGER NOT NULL,
	"ItemId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"Date" DATETIME NOT NULL,
	PRIMARY KEY ("PurchaseId"),
	FOREIGN KEY("ItemId") REFERENCES items ("ItemId"),
	FOREIGN KEY("CustomerId") REFERENCES customers ("CustomerId")
)


2020-12-15 19:03:34,510 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,511 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 19:03:34,513 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_CustomerId" ON purchases ("CustomerId")
2020-12-15 19:03:34,514 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,515 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 19:03:34,516 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_ItemId" ON purchases ("ItemId")
2020-12-15 19:03:34,517 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 19:03:34,519 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
engine.table_names()

2020-12-15 19:03:35,779 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-12-15 19:03:35,782 INFO sqlalchemy.engine.base.Engine ()

['customers', 'items', 'purchases']

In [8]:
Moshe = Item(Name = 'Moshe', Price = '200')

session.add(Moshe)
session.commit()

2020-12-15 19:03:36,948 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 19:03:36,951 INFO sqlalchemy.engine.base.Engine INSERT INTO items ("Name", "Price") VALUES (?, ?)
2020-12-15 19:03:36,952 INFO sqlalchemy.engine.base.Engine ('Moshe', 200.0)
2020-12-15 19:03:36,954 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:

Lisa = Item(Name='Lisa', Price = '100')

session.add(Lisa)
session.commit()

2020-12-15 19:03:38,301 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 19:03:38,303 INFO sqlalchemy.engine.base.Engine INSERT INTO items ("Name", "Price") VALUES (?, ?)
2020-12-15 19:03:38,304 INFO sqlalchemy.engine.base.Engine ('Lisa', 100.0)
2020-12-15 19:03:38,306 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
Nika = Item(Name='Nika', Price = '200')

session.add(Nika)
session.commit()

2020-12-15 19:03:39,893 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 19:03:39,894 INFO sqlalchemy.engine.base.Engine INSERT INTO items ("Name", "Price") VALUES (?, ?)
2020-12-15 19:03:39,896 INFO sqlalchemy.engine.base.Engine ('Nika', 200.0)
2020-12-15 19:03:39,903 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
Lisa = Item(Name='Lisa', Price = '1000')

session.add(Lisa)
session.commit()

2020-12-15 19:03:41,245 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 19:03:41,252 INFO sqlalchemy.engine.base.Engine INSERT INTO items ("Name", "Price") VALUES (?, ?)
2020-12-15 19:03:41,256 INFO sqlalchemy.engine.base.Engine ('Lisa', 1000.0)
2020-12-15 19:03:41,258 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
Lisa_2 = Item(Name='Lisa',Price = '500')

session.add(Lisa_2)
session.commit()

2020-12-15 19:03:42,366 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 19:03:42,368 INFO sqlalchemy.engine.base.Engine INSERT INTO items ("Name", "Price") VALUES (?, ?)
2020-12-15 19:03:42,369 INFO sqlalchemy.engine.base.Engine ('Lisa', 500.0)
2020-12-15 19:03:42,371 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:

from sqlalchemy import select 

Item_query = select([Item.Name, Item.Price])
results = conn.execute(Item_query)

print()
for row in results:
    print(row)

print()
print(type(row)) # rows are of type sqlalchemy.engine.result.RowProxy

2020-12-15 19:03:43,654 INFO sqlalchemy.engine.base.Engine SELECT items."Name", items."Price"
FROM items
2020-12-15 19:03:43,655 INFO sqlalchemy.engine.base.Engine ()

('Moshe', Decimal('200.0000000000'))
('Lisa', Decimal('100.0000000000'))
('Nika', Decimal('200.0000000000'))
('Lisa', Decimal('1000.0000000000'))
('Lisa', Decimal('500.0000000000'))

<class 'sqlalchemy.engine.result.RowProxy'>

/usr/local/lib/python3.6/dist-packages/sqlalchemy/sql/sqltypes.py:668: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  "storage." % (dialect.name, dialect.driver)

In [14]:
display_results(Item_query)

2020-12-15 19:03:45,127 INFO sqlalchemy.engine.base.OptionEngine SELECT items."Name", items."Price"
FROM items
2020-12-15 19:03:45,130 INFO sqlalchemy.engine.base.OptionEngine ()

    Name   Price
0  Moshe   200.0
1   Lisa   100.0
2   Nika   200.0
3   Lisa  1000.0
4   Lisa   500.0

Посмотрим теперь на таблицу:

In [15]:
Item_query = select([Item.Name, Item.Price])
display_results(Item_query)

2020-12-15 19:03:49,813 INFO sqlalchemy.engine.base.OptionEngine SELECT items."Name", items."Price"
FROM items
2020-12-15 19:03:49,814 INFO sqlalchemy.engine.base.OptionEngine ()

    Name   Price
0  Moshe   200.0
1   Lisa   100.0
2   Nika   200.0
3   Lisa  1000.0
4   Lisa   500.0

In [ ]:
#не успела разобраться как делать данные, используя связь с ранее созданной таблицей((( Поэтому запрос на последнее задание ниже, но без вывода результата

In [18]:
DBSession = sessionmaker(bind=engine)
session = DBSession()
moshe = Customer(
    FirstName='Moshe', 
    LastName='Cohen', 
    Address='Alenbi 99, Tel Aviv', 
    Phone="053-5556789", 
    Email='moshe@cohen.com')

session.add(moshe)
session.commit()

new_item = Item(Name = 'покупка_1', Price = '200', ItemId = new_CustomerId)

session.add(new_item)
session.commit()

new_perv = Purchase(ItemId = new_item, CustomerId = new_CustomerId, Date = (2020, 2, 9))

session.add(new_perv)
session.commit()

2020-12-15 19:21:40,797 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 19:21:40,798 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-15 19:21:40,801 INFO sqlalchemy.engine.base.Engine ('Moshe', 'Cohen', None, 'Alenbi 99, Tel Aviv', '053-5556789', 'moshe@cohen.com')
2020-12-15 19:21:40,804 INFO sqlalchemy.engine.base.Engine COMMIT

NameError: ignored

In [ ]:
pd.read_sql('''
SELECT 
    FirstName 'Имя',
    Name 'Название_покупки' 
	FROM
		Customer
	INNER JOIN Item ON Customer.CustomerID = Item.ItemID
		WHERE FirstName = 'Лиза';
''', connection)

#Виктория, лекцию прослушала не один раз, вроде в общем принцип понятен, в начале следующей лекции есть пример про равенсто person=new_person, здесть аналогичные действия приводят к ошибке. Я саму суть задания видимо не поняла, но спрашивать уже поздновато...

In [ ]:
#логин upsja78@gmail.com
пароль 111111
решила пока 20 задач